@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.diwali-top-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png");
    height: 30vh;
    background-size: cover;
}

.diwali-top-section-heading {
    color: white;
    font-family: "caveat";
    font-size: 36px;
    width: 200px;
    padding: 20px;
}

.diwali-bottom-section {
    text-align: center;
    background-color: #e6f6ff;
    padding: 15px;
}

.diwali-card-item {
    text-align: center;
    background-color: white;
    border-radius: 9px;
    width: 140px;
    padding: 15px;
    margin: 20px;
}

.diwali-card-image {
    height: 64px;
    width: 94px;
}

.diwali-card-name {
    color: #616e7c;
    font-family: "roboto";
    font-size: 12px;
    font-weight: normal;
}

.diwali-card-price {
    color: #323f4b;
    font-family: "roboto";
    font-size: 16px;
    font-weight: 500;
}